<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BarkUp - Your Pet's Favorite Spot</title>
    <link rel="stylesheet" href='../../public/css/styles.css'>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/parks">Parks</a></li>
          <li><a href="/petstores">Pet Stores</a></li>
          <li><a href="/profile">My Profile</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <!-- temporary/add more links as needed -->
        </ul>
      </nav>
    </header>

    {{{body}}}

    <footer>
      <p>© BarkUp - Pawfect Places for Your Furry Friends!</p>
    </footer>
  </body>
</html>