<section>
  <h2>Add New Park</h2>
  <form action="/admin/addPark" method="post">
    <label for="parkName">Park Name:</label>
    <input type="text" id="parkName" name="parkName" required />

    <fieldset>
      <legend>Location:</legend>
      <label for="address">Street Address:</label>
      <input type="text" id="address" name="location[address]" required />

      <label for="city">City:</label>
      <input type="text" id="city" name="location[city]" required />

      <label for="state">State:</label>
      <input type="text" id="state" name="location[state]" required />

      <label for="zipCode">Zip Code:</label>
      <input type="text" id="zipCode" name="location[zipCode]" required />
    </fieldset>

    <button type="submit">Add Park</button>
  </form>
</section>