<section>
  <h2>Delete Park</h2>
  <p>Are you sure you want to delete the park: "{{park.parkName}}"?</p>
  <form action="/admin/deletePark/{{park._id}}" method="post">
    <button type="submit" class="delete-button">Delete Park</button>
    <a href="/admin" class="cancel-button">Cancel</a>
  </form>
</section>