<section>
  <h1>Login</h1>
  <form id="login-form" action="/login" method="POST">
    <div>
      <label for="emailAddressInput">Email Address:</label>
      <input
        type="email"
        id="emailAddressInput"
        name="emailAddressInput"
        required
      />
    </div>
    <div>
      <label for="passwordInput">Password:</label>
      <input type="password" id="passwordInput" name="passwordInput" required />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>

  {{#if errors}}
    <section class="errors">
      {{#each errors}}
        <p>{{this}}</p>
      {{/each}}
    </section>
  {{/if}}
</section>

<p> Don't have an account? <a href="/register">Click here to register!</a></p>