<section>
  <h1>Login</h1>
  <form id="login-form" action="/login" method="POST">
    <div>
      <label for="userNameInput">User Name:</label>
      <input
        type = "text"
        id="userNameInput"
        name="userNameInput"
        required
      />
    </div>
    <div>
      <label for="passwordInput">Password:</label>
      <input type="password" id="passwordInput" name="passwordInput" required />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>
{{!-- This does not work properly, commenting out to look at it later --}}
  {{!-- {{#if errors}}
    <section class="errors">
      {{#each errors}}
        <p>{{this}}</p>
      {{/each}}
    </section>
  {{/if}}
</section> --}}
<div id="error" class="error">{{error}}</div>

<p> Don't have an account? <a href="/register">Click here to register!</a></p>

<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script src="../public/js/login-csv.js"></script>
</section>

