<main>
<form id="login-form" action="/login" method="POST">
        <label for="userNameInput">User Name:</label>
        <input type="username" id="userNameInput" name="userNameInput" required>
        <label for="passwordInput">Password:</label>
        <input type="password" id="passwordInput" name="passwordInput" required>
    <button type="submit">Login</button>
</form>

<p>
    <a href="/register">Click here to register!</a>
</p>
<div id="error" class="error">{{error}}</div>
<script src = '../public/js/client_side_validation.js'></script>
</main>