<section>
  <h1>Login</h1>
  <form id="login-form" action="/login" method="POST">
    <div>
      <label for="userNameInput">User Name:</label>
      <input
        type="username"
        id="userNameInput"
        name="userNameInput"
        required
      />
    </div>
    <div>
      <label for="passwordInput">Password:</label>
      <input type="password" id="passwordInput" name="passwordInput" required />
    </div>
    <div>
      <button type="submit">Login</button>
    </div>
  </form>

  {{!-- {{#if errors}}
    <section class="errors">
      {{#each errors}}
        <p>{{this}}</p>
      {{/each}}
    </section>
  {{/if}} --}}
  
<div id="error" class="error">{{error}}</div>
</section>

<p> Don't have an account? <a href="/register">Click here to register!</a></p>