<h1>BarkUp Registration</h1>
<form id="registration-form" action="/register" method="POST">
  <div>
    <label for="firstNameInput">First Name:</label>
    <input type="text" id="firstNameInput" name="firstNameInput" required />
  </div>
  <div>
    <label for="lastNameInput">Last Name:</label>
    <input type="text" id="lastNameInput" name="lastNameInput" required />
  </div>
  <div>
    <label for="emailAddressInput">Email Address:</label>
    <input
      type="email"
      id="emailAddressInput"
      name="emailAddressInput"
      required
    />
  </div>
  <div>
    <label for="userNameInput">User Name:</label>
    <input
      type="username"
      id="userNameInput"
      name="userNameInput"
      required
    />
  </div>
  <div>
    <label for="passwordInput">Password:</label>
    <input type="password" id="passwordInput" name="passwordInput" required />
  </div>
  <div>
    <label for="confirmPasswordInput">Confirm Password:</label>
    <input
      type="password"
      id="confirmPasswordInput"
      name="confirmPasswordInput"
      required
    />
  </div>

<div>
  <label for="petNameInput">Pet Name:</label>
  <input type="text" id="petNameInput" name="petNameInput" />
</div>
<div>
  <label for="petBreedSelect">Pet Breed:</label>
  <select id="petBreedSelect" name="petBreedSelect"></select>
</div>
<div>
  <label for="petDOBInput">Pet Date of Birth:</label>
  <input type="date" id="petDOBInput" name="petDOBInput" />
</div>
<div>
  <label for="petGenderSelect">Pet Gender:</label>
  <select id="petGenderSelect" name="petGenderSelect">
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
</div>

  <div>
    <label for="roleInput">Role:</label>
    <select id="roleInput" name="roleInput" required>
      <option value="admin">Admin</option>
      <option value="user">User</option>
    </select>
  </div>
  <button type="submit">Sign Up</button>
</form>

{{!-- {{#if errors}}
  <section class="errors">
    {{#each errors}}
      <p>{{this}}</p>
    {{/each}}
  </section>
{{/if}} --}}

<div id="error" class="error">{{error}}</div>

<p>Already have an account? <a href="/login">Click here to log-in</a></p>

<script src="../public/js/dogBreeds.js"></script> <!-- Link to AJAX script -->
