<!-- Search Functionality -->
<form id="search-form" method="POST" action="/search">
  <label for="searchText">Dog Park or Pet Store Name: </label>
  <input
    type="text"
    id="searchText"
    name="searchText"
    placeholder="Search for dog park or pet store by name.."
  />

  <label for="searchZip">Zip Code:</label>
  <input type="text" id="searchZip" name="searchZip" placeholder="Zip Code" />

  <label for="type">Type:</label>
  <select id="type" name="type">
    <option value="park">Park</option>
    <option value="store">Pet Store</option>
  </select>

  <button type="submit">Search</button>
</form>

<script src="https://rawgit.com/leizongmin/js-xss/master/dist/xss.js"></script>
<script src="../public/js/search.js"></script>